*{
	/*tipografia para nuestro landing*/
    font-family: 'Lato', sans-serif;
}
.first-section{
	background-image: url(../img/bg.jpeg);
	height: 100vh;
	background-size: cover; /*cover: para q la imagen no se corra*/
	background-repeat: no-repeat;
}
.first-section h1{
    padding-top: 2em;
    color: #fff;
    font-weight: 900;
    font-size: 70px;
}
.line{
	border-top: 3px solid white;
}
#showApp{
	color: #fff;
	font-weight: 400;
}
.app{
    padding: 2em 0;
    color: #5a5a5a;
}
/*estilos de title-second*/
.second-section{
	background-color: #fff;
	padding: 5em 0;
}
.title-second{
	color: #d2527f;
}
.features{
	padding: 0.8em;
}
.features:hover{
	background-color: #f2f2f2;
	cursor: pointer;
}
p{
	padding: 0;
	margin-bottom: 1em;
	font-weight: 300;
	font-size: 18px;
	line-height: 28px;
	color: #666;
	margin-top: 1em;
}